<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="micadenaconexion"
         connectionString="Data Source=ROVERTO;Initial Catalog=TEST;User=sa; password=sa;" />
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
   
  </system.web>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="gzipMessageEncoding"
             type="Microsoft.Samples.GZipEncoder.GZipMessageEncodingElement,GZipEncoder, Version=4.0.0.0,Culture=neutral, PublicKeyToken=null"/>
      </bindingElementExtensions>
    </extensions>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca el valor siguiente en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <remove scheme="http" />
      <add scheme="http" binding="customBinding"
           bindingConfiguration="compresionBinding"/>
    </protocolMapping>
    <bindings>
      <customBinding>
        <binding name="CompresionBinding">
          <gzipMessageEncoding innerMessageEncoding="textMessageEncoding"/>
          <httpsTransport manualAddressing="false"
                          maxReceivedMessageSize="65536"
                          authenticationScheme="Anonymous"
                          bypassProxyOnLocal="false"
                          hostNameComparisonMode="StrongWildcard"
                          realm="" useDefaultWebProxy="true"/>
          
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
